<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="headerHome">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/assets/img/favicon.png}">

    <!-- CSS
	============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}" />
    <!-- Icon Font CSS -->
    <link rel="stylesheet" th:href="@{/assets/css/icons.min.css}" />
    <!-- google font -->
    <link rel="stylesheet" th:href="@{/assets/css/fonts.css}" />
    <!-- Plugins CSS -->
    <link rel="stylesheet" th:href="@{/assets/css/plugins.css}" />
    <!-- Main Style CSS -->
    <link rel="stylesheet" th:href="@{/assets/css/style.css}" />
    <!-- Modernizer JS -->
    <script th:src="@{assets/js/vendor/modernizr-2.8.3.min.js}" ></script>


</div>
</body>
</html>