# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\duan\source-code-donghohangquoc\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
